a {
  margin: 10px;
}

.card-container {
  /* width: 1000px; */
  /* height: 100%; */
  background: blue;
}

.card {
  width: 100px;
  height: 115px;
  border: 2px solid white; 
  display: inline-block;
  margin: 15px;
  line-height: 75px;
}

.congradulation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: darkcyan;
}

.timer {
  position: fixed;
  top: 10%;
  left: 50%;
  background: darkcyan;
  color: white;
}

.new-user-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: darkcyan;
}

.new-user-modal input{
  display: block;
  margin: 10px;
}

.new-user-modal__submit-button_inactive {
  background-color: gray;
}

.new-user-modal__submit-button_active {
  background-color: forestgreen;
}