span {
  color: dodgerblue;
}

.record {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 10px;
  margin-right: 150px;
  border-bottom: 1px solid silver;
}

.record__name-surname {
  font-weight: bold;
}
.record__email {
  font-size: smaller;
}

header {
  background: DodgerBlue;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.header-logo {
  margin-left: 20px;
  margin-top: 10px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 50px;
}

.header-logo__up {
  background: dodgerblue;
  color: white;
  text-align: center;
}

.header-logo__down {
  background: white;
  color: dodgerblue;
  text-align: center;
}

.settings-logo {
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  width: 30px;
  height: 30px;
  color: dodgerblue;
  background: white;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.best-scores-logo {
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  width: 30px;
  height: 30px;
  color: dodgerblue;
  background: white;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.about-logo {
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  width: 30px;
  height: 30px;
  color: dodgerblue;
  background: white;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.links {
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

a {
  margin-left: 10px;
  padding: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
}

main {
  width: 1000px;
  margin-left: 200px;
  margin-bottom: 50px;
  padding: 50px;
  background: Gainsboro;
  color: DarkSlateGrey;
}

.how-to-play {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.how-to-play__description {
  background: white;
}

.how-to-play__par {
  text-align: center;
  background: dodgerblue;
  color: white;
  display: inline-block;
  font-size: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.how-to-play__text {
  margin-top: 5px;
  padding-top: 5px;
  display: inline-block;
  width: 400px;
  vertical-align: top;
}

.new-user-button {
  color: dodgerblue;
  box-shadow:  0 0 10px rgba(0,0,0,0.5);
  margin: 10px;
}

.start-stop-game {
  color: dodgerblue;
  box-shadow:  0 0 10px rgba(0,0,0,0.5);
  margin: 10px;
}

.card-container {
  /* width: 1000px; */
  /* height: 100%; */
  margin-left: 200px;
  background: Gainsboro;
}

@keyframes show-card {
  from {
    height: 0px;
    margin-bottom: 30px;
  }
  to {
    height: 100px;
    margin-bottom: 0px;
  }
}

.card {
  animation: show-card 0.2s;
  position: relative;
  width: 9vw;
  height: 9vw;  
  border: 2px solid white; 
  display: inline-block;
  margin: 15px;
  line-height: 75px;
}

.card-4-4 {
  animation: show-card 0.2s;
  position: relative;
  width: 9vw;
  height: 9vw; 
  border: 2px solid white; 
  display: inline-block;
  margin: 15px;
  line-height: 75px;
}

.card-6-6 {
  animation: show-card 0.2s;
  position: relative;
  width: 6vw;
  height: 6vw; 
  border: 2px solid white; 
  display: inline-block;
  margin: 15px;
  line-height: 75px;
}

.card-8-8 {
  animation: show-card 0.2s;
  position: relative;
  width: 4vw;
  height: 4vw; 
  border: 2px solid white; 
  display: inline-block;
  margin: 15px;
  line-height: 75px;
}

canvas {
  animation: show-card 0.2s;
  width: 9vw;
  height: 9vw;
}

.canvas-4-4 {
  animation: show-card 0.2s;
  animation: show-card 0.2s;
  width: 9vw;
  height: 9vw;
}

.canvas-6-6 {
  animation: show-card 0.2s;
  width: 6vw;
  height: 6vw;
}

.canvas-8-8 {
  animation: show-card 0.2s;
  width: 4vw;
  height: 4vw;
}

.congradulation {
  z-index: 5;
  text-align: center;
  position: fixed;
  width: 50%;
  height: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white
}

.congradulation-button {
  color: white;
  background: dodgerblue;
  display: block;
  margin-left: 50%;
  margin-right: auto;
  line-height: 50px;
  width: 100px;
  border-radius: 5px;
}

.timer {
  position: relative;
  top: 10%;
  left: 30%;
  width: 200px;
  height: 80px;
  font-size: xx-large;
  text-align: center;
  line-height: 75px;
  background: white;
  color: DarkSlateGrey;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.new-user-modal{
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 50vw;
  height: fit-content;
  z-index: 4;
  border-radius: 5px;
  box-shadow:  0 0 10px rgba(0,0,0,0.5);
}

input {
  border-radius: 10px;
}

.new-user-modal input{
  display: block;
  margin: 10px;
}

.new-user-modal__first-name {
  background: gainsboro;
  height: 30px;
}

.new-user-modal__first-name_valid {
  background: gainsboro;
  height: 30px;
  border: 3px solid darkgreen;
}

.new-user-modal__first-name_invalid {
  background: gainsboro;
  border: 3px solid darkred;
  height: 30px;
}

.new-user-modal__last-name {
  background: gainsboro;
  height: 30px;
}

.new-user-modal__last-name_valid {
  background: gainsboro;
  border: 3px solid darkgreen;
  height: 30px;
}

.new-user-modal__last-name_invalid {
  background: gainsboro;
  border: 3px solid darkred;
  height: 30px;
}

.new-user-modal__email {
  background: gainsboro;
  height: 30px;
}

.new-user-modal__email_valid {
  background: gainsboro;
  border: 3px solid darkgreen;
  height: 30px;
}

.new-user-modal__email_invalid {
  background: gainsboro;
  border: 3px solid darkred;
  height: 30px;
}

.new-user-modal__submit-button_inactive {
  background-color: dodgerblue;
  color: white;
  opacity: 0.2;
  height: 30px;
  border-radius: 5px;
  margin: 10px;
}

.new-user-modal__submit-button_active {
  background-color: dodgerblue;
  height: 30px;
  color: white;
  border-radius: 5px;
  margin: 10px;
}

.cancel-button {
  background-color: white;
  height: 30px;
  color: dodgerblue;
  border-radius: 5px;
  margin: 10px;
}

.save-option-button {
  display: block;
  background-color: dodgerblue;
  height: 50px;
  width: 100px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}